body {
    background-color: rgba(168, 196, 206, 0.918);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #3CB371;
    overflow: hidden;
    position: sticky;
    top: 0;
    border-right: 1px solid #FFFAFA;
}
h1 {
    color: rgb(2, 145, 73);
    text-align: center;
    text-decoration: underline;
}
p {
    text-align: justify;
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
    color: rgb(63, 61, 61);
}
h2 {
    text-align: justify;
    color:rgb(2, 145, 73);
    text-decoration-line: underline;
}
li {
    float: left;
}
li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li:last-child {
    border-right: none;
}
li a:hover {
    background-color: #90EE90;
}
.active {
    background-color: #2E8B57;
}
.link {
    color: rgb(76, 33, 155);
    text-decoration: none;
}
.homepage {
    padding: 0px 70px 0px 70px;
}
dl {
    text-align: justify;
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
    color: rgb(63, 61, 61);  
}